/* remove the "or drop files" label from the right of the lightning:input type file*/
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
} 

/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}